// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$background: #FCF4EE;
$background-complimentary-light: #FAD7C6;
$background-complimentary-dark: #F3E8E2;
$misty-rose: #FFECEB;

$brown-dark: #391B05;
$brown-middle: #A84D10;
$brown-light: #F9C9B3;

$red-middle: #660700;
$red-very-light: #FFECEB;

$bright-coral: #FF4B3E;
$bright-yellow: yellow;
$dark-green: #4d908e;