<%= render :layout => 'form' do |f| %>

  <%= render "recipes/ingredients_form", f: f %>  

  <div class="form-actions">
    <%#= link_to 'Previous step', previous_wizard_path, class: "btn btn-ghost btn-coral" %>
    <%= f.submit "Instructions", class: "btn btn-ghost btn-green" %>
    <%#= f.submit 'Complete', class: "btn btn-secondary" %>
    <%#= link_to 'Skip', next_wizard_path %>
  </div>

<% end %>