<%= render :layout => 'form' do |f| %>

  <%= render "recipes/instructions_form", f: f %>

  <div class="form-actions">
    <%= link_to 'previous step', previous_wizard_path, class: "btn btn-primary" %>
    <%#= f.submit "Next Step" %>
    <%= f.submit 'create recipe', class: "btn btn-secondary" %>
    <%#= link_to 'Skip', next_wizard_path %>
  </div>

<% end %>