<%= render :layout => 'form' do |f| %>
  
  <h4>Recipe</h4>
  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description %>
  </div>

  <div class="form-actions">
    <%= f.submit "Next Step" %>
  </div>
  
<% end %>