<%= render :layout => 'form' do |f| %>
  
  <%= render "recipes/recipe_form", f: f %>
  
  <div class="form-actions">
    <%= f.submit "Ingredients", class: "btn btn-ghost btn-green" %>
  </div>
  
<% end %>