<%= render :layout => 'form' do |f| %>
  
  <h4>Recipe</h4>
  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description, as: :text %>
  </div>

  <div class="form-actions">
    <%= f.submit "to ingredients", class: "btn btn-secondary" %>
  </div>
  
<% end %>