<p id="notice"><%= notice %></p>

<h4>Recipes</h4>
<br>
<%= link_to '+ new recipe', new_recipe_path, class: "btn btn-ghost btn-coral" %>
<br><br>

<div class="index-grid">
  <% @recipes.each do |recipe| %>
    <%= render "recipes/recipe_cards", recipe: recipe %>
  <% end %>
</div>
