<% 
if @users
    placeholder = 'Search for user'
  else
    placeholder = 'Search recipe name or description'
  end 
%>

<div class="search-form-control form-group">
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: placeholder,
    type: "text",
    data: {
      refresh_list_target: 'searchInput',
      action: "keyup->refresh-list#update"
    } %>
</div>