<br>
<div data-controller="refresh-list">

    <%# Search bar %>
    <%= simple_form_for :search, url: users_path, method: :get, data: {
    refresh_list_target: 'form' } do |f| %>
      <%= render 'users/search_bar' %>
    <% end %>
        
    <%# List of results %>
    <%= render 'users/list_users', users: @users %>           

</div>
