<h1>users#show</h1>
<br>

<div class="pc-tab">
<input checked="checked" id="tab1" type="radio" name="pct" />
<input id="tab2" type="radio" name="pct" />
<input id="tab3" type="radio" name="pct" />
  <nav>
    <ul>
      <li class="tab1">
        <label for="tab1">your recipes</label>
      </li>
      <li class="tab2">
        <label for="tab2">saved recipes</label>
      </li>
      <li class="tab3">
        <label for="tab3">profile</label>
      </li>
    </ul>
  </nav>
  <section>
    <div class="tab1">
      <h2>your recipes</h2>
      <% @user.recipes.each do |recipe| %>
        <%= link_to recipe.name, recipe_path(recipe) %>
        <br>
      <% end %>
    </div>
    <div class="tab2">
      <h2>saved recipes</h2>
      <p>you have not yet saved any recipes</p>
    </div>
    <div class="tab3">
      <h2>profile</h2>
      <p><strong>username:</strong> <%= @user.email %></p>
      <p><strong>email:</strong> <%= @user.email %></p>
      <%= link_to "edit email or password", edit_user_registration_path %>
    </div>
  </section>
</div>