<div class="empty-state empty-state--only-child my-3">
  <p class="empty-state__text">
    You don't have any instructions yet!
  </p>

  <%#= link_to "+ ingredient", 
      new_recipe_ingredient_path(@recipe), 
      class: "btn btn-ghost btn-coral",
      data: { turbo_frame: dom_id(Ingredient.new) } %>
</div>