<h1>Create a new submission</h1>
<%= simple_form_for([@survey, @submission], data: { turbo: :false }) do |f| %>
  <div class="form-group">
  <%= f.input :email, 
              label: "Please enter email address",
              hint: "If you're uncomfrtable giving away you email, feel free to enter anyting you like." %>
  </div>
  <%= f.button :submit, class: "btn btn-secondary" %>
<% end %>
