.btn-ghost {
  color: $red-middle;
  border: 2px solid $red-middle;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  transition: opacity 0.3s ease;
  font-weight: bold;
  cursor: pointer;
}

.btn-ghost:hover {
  color: $red-middle;
  background-color: $red-very-light;
}

.btn-coral {
  border-color: $bright-coral;
  color: $bright-coral;
}

.btn-coral:hover {
  color: $bright-coral;
  border-color: $bright-coral;
}

.btn-yellow {
  border-color: $orange;
  color: $orange;
}

.btn-yellow:hover {
  color: $orange;
  border-color: $orange;
}

.btn-green {
  border-color: $dark-green;
  color: $dark-green;
}

.btn-green:hover {
  border-color: $dark-green;
  color: $dark-green;
}
