.btn-ghost {
  color: $red-middle;
  border: 2px solid $red-middle;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  transition: opacity 0.3s ease;
  font-weight: bold;
  cursor: pointer;
  margin: 1.5px;
}

.btn-ghost:hover {
  color: $red-middle;
  background-color: $red-very-light;
}

.btn-coral {
  border-color: $bright-coral;
  color: $bright-coral;
}

.btn-coral:hover {
  color: $bright-coral;
  border-color: $bright-coral;
}

.btn-yellow {
  border-color: $orange;
  color: $orange;
}

.btn-yellow:hover {
  color: $orange;
  border-color: $orange;
}

.btn-green {
  border-color: $dark-green;
  color: $dark-green;
}

.btn-green:hover {
  border-color: $dark-green;
  color: $dark-green;
}

.action-btns {
  display: flex;
  justify-content: flex-end;
}

.recipes-btn {
  margin-right: auto;
}

.show-icon {
  margin: 0 12px 0 12px;
  padding-top: 12px;
}

.fa-edit {
  color: $orange;
  font-size: 24px;
  font-weight: lighter;
}

.fa-edit:hover {
  font-weight: bold;
}

.fa-trash-alt {
  color: $bright-coral;
  font-size: 24px;
  font-weight: lighter;
}

.fa-trash-alt:hover {
  font-weight: bold;
}

.inline-delete {
  position: absolute;
  top: 24px;
  right: 30px;
}

.top-icon {
  position: absolute;
  top: 24px;
  right: 30px;
}


.bottom-icon {
  position: absolute;
  bottom: 24px;
  right: 30px;
}

.add-association {
  margin-top: 18px;
  margin-bottom: 18px;
  text-align: center;
}

// Smallest device
@media (max-width: 600px) {
  // .add-association {
  //   text-align: center;
  // }
  
}
