.btn-ghost {
  color: $red-middle;
  border: 2px solid $red-middle;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  color: $red-middle;
  background-color: $red-very-light;
}