.cards-grid {
  display: grid;
  margin: 24px 0 24px 0;
}

.main-card {
  padding: 48px; 
  width: 100%;
  border-radius: 25px;
  background: $brown-light;
  line-height: 1.5em;
  letter-spacing: 0.3px;
  margin: 12px 0 0 0;
  a {
    text-decoration: none;
  }
}

.ingredient-card {
  padding: 6px;
  background: #f8f9fa;
  margin-bottom: 12px;
}

.index-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  padding: 0;
}

.recipe-card {
  position: relative;
  display: block;
  height: 300px;  
  border-radius: 25px;
  overflow: hidden;
  text-decoration: none;
  box-shadow: 2px 1px 1px $background-complimentary-dark;
}

.recipe-card:hover {
  box-shadow: 3px 1.5px 1.5px $background-complimentary-dark;

}

.card-image {
  width: 100%;
  height: auto;
}

.card-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;      
  border-radius: 25px;    
  background-color: $brown-light;      
  transform: translateY(100%);
  transition: .2s ease-in-out;
}

.recipe-card:hover .card-overlay {
  transform: translateY(0);
}

.card-header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 2em;
  background-color: $brown-light;
  transform: translateY(-100%);
  transition: .2s ease-in-out;
  border-bottom: none;
}

.card-header:first-child {
  border-radius: 25px 0 0 0;
}

.recipe-card:hover .card-header {
  transform: translateY(0);
}

.card-thumb {
  flex-shrink: 0;
  width: 50px;
  height: 50px;      
  border-radius: 50%;      
}

.card-title {
  font-size: 1.2em;
  font-weight: bold;
  margin: 0 0 .3em;
}

.card-tagline {
  display: block;
  margin: 1em 0;
  font-size: .8em; 
  color: $red-middle;  
}

.card-status {
  font-size: .8em;
  color: $red-middle;
}

.card-description {
  padding: 0 2em 2em;
  margin: 0;
  overflow: hidden;
  font-size: 14px;
}

// RESPONSIVE DESIGN STUFF

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards-grid {
    grid-template-columns: 1fr;
    gap: 12px 0px;
  }

}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards-grid {
    grid-template-columns: 1fr;
    gap: 18px 0px;
  }

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards-grid {
    grid-template-columns: 1fr 1fr;
    gap: 0px 6px;
  }
  
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards-grid {
    grid-template-columns: 1fr 1fr;
    gap: 0px 34px;
  }

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards-grid {
    grid-template-columns: 1fr 1fr;
    gap: 0px 70px;
  }

}
