.comment {
  // border-bottom: 1px solid rgba($red-middle,.5);
  display: flex;
  // padding-top: 6px;
  p {
    // margin-bottom: 6px;
  }
}

.new-comment-form {
  display: flex;
  justify-content: space-between;
}

.user-avater-comment {
  margin-top: 6px;
  margin-right: 10px;
}

.input-comment {
  width: 100%;
}
