.comment {
  display: flex;

}

.new-comment-form {
  display: flex;
  justify-content: space-between;
}

.user-avater-comment {
  margin-top: 6px;
  margin-right: 10px;
}

.input-comment {
  width: 100%;
}

.comment-actions {
  // display: flex;
}
