.inline-form {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  width: 75%;
}

.form-control {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #b5bdce;
  padding: .75em .5em .5em;
}

// .recipe_ingredients_description {
//   width: 180px;
//   input {
//     display: none;
//   }
// }

/* responsiveness - display the form controls vertically instead of horizontally on screens that are less than 800px wide */
@media (max-width: 800px) {
  .form-input {
    margin: 10px 0;
  }

  .form-inline {
    flex-direction: column;
    align-items: stretch;
  }
}