.image-upload {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

#photo-preview {
  border-radius: 25px;
}

.photo-show {
  position: relative;

  img {
    height: 300px;
    width: 100%;
    object-fit: cover;
    border-radius: 25px 25px 0px 0px;
  } 

  &--btn {
    position: absolute;
    bottom: 6px;
    right: 6px;
  }

}

.recipe-photo {

}

.recipe {
  padding: 0;
}
/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
  .image-upload {
    flex-direction: column;
  }
}
