.inline-form {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  flex: 0 0 50%;
}

.form-control {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #b5bdce;
  // color: #666;
  // font-size: 1.5em;
  padding: .75em .5em .5em;
  // width: 100%;
}

/* responsiveness - display the form controls vertically instead of horizontally on screens that are less than 800px wide */
@media (max-width: 800px) {
  .form-input {
    margin: 10px 0;
  }

  .form-inline {
    flex-direction: column;
    align-items: stretch;
  }
}