.navbar-lewagon {
  justify-content: space-between;
  background: $background-complimentary-light;
}

.nav-link {
  color: $red-middle;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
